.life-stage3.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
}

.column-left,
.column-right {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
}

.column-right div {
  margin-bottom: 10px;
  padding-left: 0px;
  max-width: 100%;
}

@media (min-width: 768px) {
  .life-stage3.block {
    flex-direction: row;
    align-items: flex-start;
  }

  .column-left,
  .column-right {
    max-width: 50%;
  }

  .column-right div {
    padding-left: 40px;
  }

  /**/

  .top-element {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    max-height: calc(652px / 3);
    overflow: hidden;
  }

  .columns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-height: calc(652px * 2 / 3);
    overflow: hidden;
  }

  .column-right picture,
  .column-right img {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
  }

  .column-left p strong {
    display: block;
    margin: 32px 0px 6px 0px;
  }
}

.badge {
  display: inline-block;
  padding: 0.2em 0.6em;
  margin: 0.2em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #352f59;
  background-color: #fafafa;
  height: 2.3em;
  align-content: center;
}

.second-button {
  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  padding: 30px 0em 0em 0em;
  text-decoration: none;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 10px 0px 15px 0px;
}

.second-button:hover {
  background-color: #5a6268;
  text-decoration: none;
}
