.life-stage3.block {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.top-element {
  display: flex;
  justify-content: center;
}

.column-right picture,
.column-right img {
  max-height: 240px;
  width: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
}

.column-left p strong {
  display: block;
  margin: 32px 0px 6px 0px;
}

@media (min-width: 900px) {
  .life-stage3.block {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    height: auto;
    margin: 0 auto;
  }

  .top-element {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .column-left,
  .column-right {
    max-width: 50%;
  }

  .column-right div {
    padding-left: 40px;
  }

  .columns-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .column-right picture,
  .column-right img {
    max-height: 240px;
    width: auto;
    object-fit: contain;
  }

  .column-left p strong {
    display: block;
    margin: 32px 0px 6px 0px;
  }
}

.second-button {
  color: #ffffff;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  padding: 30px 0em 0em 0em;
  text-decoration: none;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 10px 0px 15px 0px;
}

.second-button:hover {
  background-color: #5a6268;
  text-decoration: none;
}
