.imagewithtext-width774-wrapper {
  display: block;
  max-width: 774px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.imagewithtext-width774 p {
  color: #141414;
  display: block;
  font-family: 'Wigrum-Regular', sans-serif;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 8px;
}

.imagewithtext-width774 .default-content-wrapper p > strong {
  font-family: 'Wigrum-Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 900px) {
  .imagewithtext-width774-wrapper p {
    max-width: 361;
    color: #141414;
    display: block;
    font-family: 'Wigrum-Regular', sans-serif;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 150%;
    margin-top: 8px;
  }
}
