.image-advanced-wrapper {
  padding: 15px;
}

.image-advanced-align-left {
  display: flex;
  justify-content: flex-start;
}

.image-advanced-align-right {
  display: flex;
  justify-content: flex-end;
}

.image-advanced-align-center {
  display: flex;
  justify-content: center;
}

.image-advanced-max-width-100 {
  max-width: 100px;
  width: auto;
}

.image-advanced-max-width-200 {
  max-width: 200px;
  width: auto;
}

.image-advanced-max-width-400 {
  max-width: 400px;
  width: auto;
}

.image-advanced-max-width-600 {
  max-width: 600px;
  width: auto;
}
.image-advanced-max-width-800 {
  max-width: 800px;
  width: auto;
}

.image-advanced-max-width-1000 {
  max-width: 1000px;
  width: auto;
}

.image-advanced-max-width-full {
  max-width: 100%;
  width: auto;
}
