.image-advanced {
  padding: 5px;
}

.image-advanced-align-left {
  display: flex;
  justify-content: flex-start;
}

.image-advanced-align-center {
  display: flex;
  justify-content: center;
}

.image-advanced-align-right {
  display: flex;
  justify-content: flex-end;
}

.image-advanced-max-width-25 {
  max-width: 25%;
}

.image-advanced-max-width-50 {
  max-width: 50%;
}

.image-advanced-max-width-75 {
  max-width: 75%;
}

.image-advanced-max-width-100 {
  max-width: 100%;
}
