main .banner1-container > div {
  max-width: unset;
  background-color: #000d77;
  margin-top: 48px;
  margin-bottom: 52px;
}

.banner1 {
  position: relative;
  padding: 24px 24px 24px 32px;
  min-width: 393px;
  max-height: 400px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.banner1 h6 {
  /* TODO: font-family:  font-family: 'Wigrum'; */
  font-family: var(--heading-font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;

  margin-top: 40px;
  color: #fafafa;
}

@media (width >= 900px) {
  .banner1 h6 {
    font-family: var(--heading-font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

    margin-top: 40px;
    color: #fafafa;
  }

  .banner1 {
    position: relative;
    padding: 56px 178px 56px 178px;
    max-width: 1440px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  main .banner1-container {
    padding: 12px 0 0 0;
  }
}

.unser-fazit {
  background-color: white;
  color: #000d77;
}

.unser-fazit::before {
  content: url('https://author-p136111-e1367719.adobeaemcloud.com/content/dam/universal-editor-content-dam/BlaueHerz.svg');
  margin-right: 2px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.unser-fazit::after {
  content: url('https://author-p136111-e1367719.adobeaemcloud.com/content/dam/universal-editor-content-dam/BlaueHerz.svg');
  margin-left: 2px;
  display: inline-block;
  position: relative;
  top: 2px;
}
