/*
 * Banner1 Container Styles
 */

/* Base Styles */
main .banner1-container {
  width: 100%;
  background-color: #000d77;
  margin-top: 80px;
}

.banner1 {
  position: relative;
  padding: 24px 24px 24px 32px;
  max-width: 393px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
}

.banner1 h6 {
  font-family: 'Wigrum-Regular', sans-serif;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 120%;
  color: #fafafa;
  text-align: left;
  max-width: 954px;
}

.banner1 a.button:any-link,
.banner1 button {
  background-color: white;
  color: #000d77;
  font-family: 'Wigrum-Regular', sans-serif;
  font-size: 24px !important;
  font-weight: 500;
  min-width: 290px;
  max-height: 42px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  left: calc(100% - 350px); /* Position horizontally relative to h6 */
  transform: translateY(-50%) rotate(-90deg);
  margin-top: -100px;
}

.banner1 .button::before,
.banner1 .button::after {
  transform: rotate(90deg);
}

.banner1 > div {
  display: flex;
  align-items: flex-start; /* Vertically center the content */
  position: relative;
}

.banner1 > div:nth-of-type(1) h6 {
  margin: 20px 0 30px;
}

.banner1 > div:nth-of-type(2) h6 {
  text-transform: uppercase;
}

/* Media Queries */
@media (min-width: 900px) {
  .banner1 {
    padding: 56px 178px;
    min-width: 100%;
    min-height: 400px;
  }

  .banner1 h6 {
    font-size: 24px !important;
  }

  .banner1 a.button:any-link,
  .banner1 button {
    left: calc(100% - 670px); /* Position it horizontally relative to h6 */
  }

  .banner1 > div:nth-of-type(1) h6 {
    margin: 50px 0 25px;
  }
}

.banner1 .button::before {
  content: url('https://author-p136111-e1367719.adobeaemcloud.com/content/dam/universal-editor-content-dam/BlaueHerz.svg');
  margin-right: 8px;
}

.banner1 .button::after {
  content: url('https://author-p136111-e1367719.adobeaemcloud.com/content/dam/universal-editor-content-dam/BlaueHerz.svg');
  margin-left: 8px;
}
