main .cta-hilfmit-container > div {
  max-width: 393px; /* Set max-width for smaller screens */
  background-color: white;
  margin-top: 48px;
  margin-bottom: 52px;
  margin-left: auto; /* Center align horizontally */
  margin-right: auto; /* Center align horizontally */
}

.cta-hilfmit {
  position: relative;
  padding: 40px;
  max-width: 393px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.cta-hilfmit h1 {
  font-family: var(--heading-font-family);
  font-weight: 900;
  font-size: 32px !important;
  line-height: 120%;
  margin-top: 40px;
  color: #141414;
  text-transform: uppercase;
  text-align: left;
}

.cta-hilfmit a.button:any-link,
.cta-hilfmit button {
  background-color: white;
  color: #e60040;
  font-size: 18px !important;
  font-weight: 500;
  min-width: 313px;
  max-height: 44px;
  border-radius: 4px;
  border: 1px solid var(--HFS-rot-400, #e60040);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
}

@media (min-width: 900px) {
  main .cta-hilfmit-container > div {
    max-width: 1152px; /* Set max-width for larger screens */
  }

  .cta-hilfmit {
    position: relative;
    padding: 60px 98px;
    min-width: 1152px;
    min-height: 465px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .cta-hilfmit h1 {
    font-family: Wigrum-bold;
    font-weight: 900;
    font-size: 50px !important;
    line-height: 120%;
    margin-top: 40px;
    color: #141414;
    text-transform: uppercase;
    text-align: left;
  }

  main .cta-hilfmit-container {
    padding: 12px 0 0 0;
  }

  .cta-hilfmit a.button:any-link,
  .cta-hilfmit button {
    background-color: white;
    color: #e60040;
    font-size: 17px;
    font-weight: 500;
    min-width: 956px;
    max-height: 44px;
    border-radius: 4px;
    border: 1px solid var(--HFS-rot-400, #e60040);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
  }
}
