main .base-style > div {
  max-width: 393px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.section.base-style .default-content-wrapper h2 {
  color: #000959;
  display: block;
  font-family: 'Wigrum-Bold', sans-serif;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 32px !important;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: 0.64px;
  text-transform: uppercase;
}

.section.base-style .default-content-wrapper p {
  color: #141414;
  display: block;
  font-family: 'Wigrum-Regular', sans-serif;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  margin-top: 8px;
}

.section.base-style .default-content-wrapper p > strong {
  color: #141414;
  display: block;
  font-family: 'Wigrum-Regular', sans-serif;
  font-size: 17px !important;
  font-weight: 600;
  line-height: 150%;
  font-style: normal;
}

.section.base-style .default-content-wrapper p picture {
  display: flex;
  justify-content: center;
}

.section.base-style .default-content-wrapper p picture img {
  max-width: 361px;
  height: auto;
  margin-bottom: 6px;
  margin-top: 10px;
}

@media (min-width: 900px) {
  main .base-style > div {
    max-width: 1152px;
  }

  .section.base-style .default-content-wrapper p picture img {
    max-width: 770px;
    height: auto;
    margin-bottom: 30px;
  }

  .section.base-style .default-content-wrapper p {
    color: #141414;
    display: block;
    font-family: 'Wigrum-Regular', sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
    margin-top: 8px;
  }

  .section.base-style .default-content-wrapper p > strong {
    color: #141414;
    display: block;
    font-family: 'Wigrum-Regular', sans-serif;
    font-size: 19px !important;
    font-weight: 600;
    line-height: 150%;
  }
}
