main .banner-container > div {
  max-width: 24.5625rem; /* 393px */
  background-color: #000d77;
  margin: 1.5rem auto 0 auto; /* 48px 52px */
}

.banner {
  position: relative;
  padding: 2rem 1rem 0.3rem 5.4rem;
  max-width: 24.5625rem;
  height: 23.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.banner h6 {
  font-family: 'Wigrum-Regular', sans-serif;
  font-weight: 100;
  font-size: 1.08rem !important;
  line-height: 120%;
  color: #fafafa;
  text-align: left;
  max-width: 59.625rem;
}

.banner a.button:any-link,
.banner button {
  background-color: white;
  color: #000d77;
  font-family: 'Wigrum-Regular', sans-serif;
  font-size: 1.5rem !important;
  font-weight: 500;
  min-width: 20.5rem;
  max-height: 2.625rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  left: calc(100% - 21.6rem);
  transform: translateY(-50%) rotate(-90deg);
  margin-top: -7.48rem;
}

.banner > div {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.banner > div:nth-of-type(1) h6 {
  margin: 1.25rem 0 1.875rem;
}

.banner > div:nth-of-type(2) h6 {
  text-transform: uppercase;
}

/* Media Queries */
@media (min-width: 56.25rem) {
  main .banner-container > div {
    min-width: 90rem;
    margin: 5.6rem auto 1rem auto; /* Adds flexbox properties */
  }

  .banner {
    padding: 3.5rem 11.125rem;
    min-width: 100%;
    min-height: 25rem;
  }

  .banner h6 {
    font-size: 1.5rem !important;
  }

  .banner a.button:any-link,
  .banner button {
    min-width: 18.125rem;
    left: calc(100% - 41.5rem);
    margin-top: -6.4rem;
  }

  .banner > div:nth-of-type(1) h6 {
    margin: 3.125rem 0 1.5625rem;
  }
}
