.bg-white {
  background-color: var(--white);
}

.bg-sozialstaat {
  background-color: var(--primary-sozialstaat);
}

.bg-vanila-1 {
  background-color: var(--vanila-1);
}

.bg-pistazie {
  background-color: #b5d8af;
}
.bg-pistazie-light {
  background-color: #d8eace;
}
