.bg-white {
  background-color: var(--white);
}

.bg-sozialstaat {
  background-color: var(--primary-sozialstaat);
}

.bg-vanila-1 {
  background-color: var(--vanila-1);
}

.bg-gpa-green-1 {
  background-color: var(--green-gpa-1);
}
