/* align */
.font-align-left {
  text-align: left;
}

.font-align-right {
  text-align: right;
}

.font-align-center {
  text-align: center;
}

/* color */
.font-color-primary {
  color: var(--primary-sozialstaat);
}

.font-color-secondary {
  color: var(--secondary-sozialstaat);
}

.font-color-gray-1 {
  color: var(--gray-1);
}

.font-color-gray-2 {
  color: var(--gray-2);
}

.font-color-gray-3 {
  color: var(--gray-3);
}

.font-color-gray-4 {
  color: var(--gray-4);
}

.font-color-gray-5 {
  color: var(--gray-5);
}

/* size */
.font-size-m {
  font-size: var(--font-size-m);
}

.font-size-s {
  font-size: var(--font-size-s);
}

.font-size-xs {
  font-size: var(--font-size-xs);
}

.font-size-xxs {
  font-size: var(--font-size-xxs);
}

/* weight */
.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

/* transform */
.font-transform-none {
  text-transform: none;
}

.font-transform-uppercase {
  text-transform: uppercase;
}

.font-transform-lowercase {
  text-transform: lowercase;
}

.font-transform-capitalize {
  text-transform: capitalize;
}
