@media screen and (max-width: 768px) {
  body {
    padding-top: 100px !important;
  }

  /* mobile */
  /* margin top */
  .mob-mt-5 {
    margin-top: 5px;
  }

  .mob-mt-10 {
    margin-top: 10px;
  }

  .mob-mt-15 {
    margin-top: 15px;
  }

  .mob-mt-20 {
    margin-top: 20px;
  }

  .mob-mt-25 {
    margin-top: 25px;
  }

  .mob-mt-30 {
    margin-top: 30px;
  }

  .mob-mt-35 {
    margin-top: 35px;
  }

  .mob-mt-40 {
    margin-top: 40px;
  }

  .mob-mt-45 {
    margin-top: 45px;
  }

  .mob-mt-50 {
    margin-top: 50px;
  }

  .mob-mt-55 {
    margin-top: 55px;
  }

  .mob-mt-60 {
    margin-top: 6px;
  }

  .mob-mt-65 {
    margin-top: 65px;
  }

  .mob-mt-70 {
    margin-top: 70px;
  }

  .mob-mt-75 {
    margin-top: 75px;
  }

  .mob-mt-80 {
    margin-top: 80px;
  }

  /* margin bottom */
  .mob-mb-5 {
    margin-bottom: 5px;
  }

  .mob-mb-10 {
    margin-bottom: 10px;
  }

  .mob-mb-15 {
    margin-bottom: 15px;
  }

  .mob-mb-20 {
    margin-bottom: 20px;
  }

  .mob-mb-25 {
    margin-bottom: 25px;
  }

  .mob-mb-30 {
    margin-bottom: 30px;
  }

  .mob-mb-35 {
    margin-bottom: 35px;
  }

  .mob-mb-40 {
    margin-bottom: 40px;
  }

  .mob-mb-45 {
    margin-bottom: 45px;
  }

  .mob-mb-50 {
    margin-bottom: 50px;
  }

  .mob-mb-55 {
    margin-bottom: 55px;
  }

  .mob-mb-60 {
    margin-bottom: 60px;
  }

  .mob-mb-65 {
    margin-bottom: 65px;
  }

  .mob-mb-70 {
    margin-bottom: 70px;
  }

  .mob-mb-75 {
    margin-bottom: 75px;
  }

  .mob-mb-80 {
    margin-bottom: 80px;
  }

  .mob-col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  /* column classes */
  .mob-col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .mob-col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .mob-col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .mob-col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .mob-col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .mob-col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .mob-col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .mob-col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .mob-col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .mob-col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .mob-col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding-top: 100px !important;
  }
}

@media (width >=900px) {
  .section.page-container > div {
    max-width: 1240px !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 1400px) {
  .section.page-container > div {
    max-width: 76.1% !important;
  }
}

@media screen and (max-width: 1024px) {
  .section.page-container > div {
    max-width: 100% !important;
    padding: 0 16px;
  }
}
