.ex-max-width-1152 {
  max-width: 1152;
}

.ex-max-width-1000 {
  max-width: 1000px;
}

.ex-max-width-900 {
  max-width: 900px;
}

.ex-max-width-800 {
  max-width: 800px;
}

.ex-max-width-700 {
  max-width: 700px;
}

.ex-max-width-600 {
  max-width: 600px;
}

.ex-max-width-500 {
  max-width: 500px;
}

.ex-max-width-400 {
  max-width: 400px;
}

.ex-max-width-300 {
  max-width: 300px;
}

.ex-max-width-200 {
  max-width: 200px;
}

.ex-max-width-100 {
  max-width: 100px;
}
