main .imagewithtext774px > div {
  max-width: 48.375rem; /* 774px */
  height: auto;
  margin: 0 auto;
  padding: 0 0.625rem; /* 10px */
}

.imagewithtext774px-wrapper {
  display: block;
  max-width: 48.375rem; /* 774px */
  height: auto;
  margin: 0 auto;
}

.imagewithtext774px p {
  color: #141414;
  display: block;
  font-family: 'Wigrum-Regular', sans-serif;
  font-size: 1.125rem !important; /* 18px */
  font-weight: 400;
  line-height: 1.75rem;
  margin-top: 0.5rem; /* 8px */
}

.imagewithtext774px .default-content-wrapper p > strong {
  font-family: 'Wigrum-Bold', sans-serif;
  font-weight: 700;
}

@media (max-width: 56.25rem) {
  /* 900px */
  .imagewithtext774px-wrapper p {
    max-width: 22.5625rem; /* 361px */
    height: auto;
    color: #141414;
    display: block;
    font-family: 'Wigrum-Regular', sans-serif;
    font-size: 1rem !important; /* 16px */
    font-weight: 400;
    line-height: 150%;
    margin-top: 0.5rem; /* 8px */
  }

  main .imagewithtext774px > div {
    max-width: 24.5625rem; /* 393px */
    height: auto;
    margin: 0 auto;
    padding: 0 0.625rem; /* 10px */
  }
}
