/** Wrapper class */
.title-advanced2-wrapper {
  padding: 15px;
}

/** Alignment */
.title-advanced2-align-left {
  display: flex;
  justify-content: flex-start;
}

.title-advanced2-align-right {
  display: flex;
  justify-content: flex-end;
}

.title-advanced2-align-center {
  display: flex;
  justify-content: center;
}

/** Styles */
.title-advanced2-style-1 {
  background-color: azure;
}

.title-advanced2-style-2 {
  background-color: darksalmon;
}

.title-advanced2-style-3 {
  background-color: darkseagreen;
}
