footer {
  padding: 2rem;
  background-color: var(--gray-5);
  font-size: var(--body-font-size-xs);
  color: var(--gray-1);
  display: flex;
  justify-content: center;
}

footer a:any-link {
  color: var(--gray-2);
  text-decoration: underline;
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

@media (min-width: 768px) {
  footer .footer p {
    display: flex;
    align-items: center;
  }

  footer .footer p br {
    display: none;
  }

  footer .footer p a {
    margin-left: 1rem;
  }
}
