.backward-button {
  color: #3f4999 !important;
  font-family: Wigrum-Regular;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 1.05rem */
  text-decoration-line: underline;
  margin: 0.4rem 0 0 0;
  cursor: pointer;
}

.backward-button:hover {
  color: #c60000 !important;
}

/* 900px */
@media (min-width: 56.25rem) {
  .backward-button {
    margin: 0.4rem 0 0 0.25rem;
  }
}
