.backward-button-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.backward-button {
  background-color: red !important;
  color: black !important;
  padding-left: 0.5rem;
}
