.imageadvanced3 .aaa {
  text-align: center;
}

.imageadvanced3 .bbb {
  margin: 0 auto;
}

.imageadvanced3 .ccc {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.imageadvanced3 {
  background-color: blueviolet;
}
