.button-align-left {
  display: flex;
  justify-content: flex-start;
}

.button-align-center {
  display: flex;
  justify-content: center;
}

.button-align-right {
  display: flex;
  justify-content: flex-end;
}